<!doctype html>
<html>
  <head>
    <% include ../partials/header %>
  </head>
  <body>
    <div class="bookpage-container">
    <div class = "bookpageshow">
      <div class="book-wrapper">
      <h2 class = "title"><%= book.title %> <span class = "author"> by <%= book.author %> </span></h2>
    
      <p><%= book.date %></p>
      <p class = "description"><%= book.description %></p>
      <img class = "book-img" src="<%= book.img %>">
      </div>
        <div class="book-actions">
          <form method="POST" action="/books/<%= book.id %>?_method=DELETE" class="delete-form">
            <button type="submit" class="delete-button">Delete</button>
          </form>
          <a href="/books/<%= book.id %>/edit" class="edit-link">Edit</a>
        </div>
      </div>
    </div>
  </body>
</html>